<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" th:href="@{/css/Contact.css}"/>
<title>Contact details</title>

</head>
<body>
<div th:if="${not_authorized == true}">
	<h1>You have to login to view this page!</h1>
</div>
<div th:if="${not_authorized == false}">
		<h1><a href="/logout" style="text-decoration: none; color:#D84424;font-size: 15px; text-align:right;">&#10060 LOGOUT</a></h1>
		<div align="center">
        	<div class="appview">
          		<h2 style="color:#064714;">Contact Details</h2>
					<form action = "ViewApplications" method = "post">
                    <div th:switch="${contacts}">
                        <h3 th:case="null"> No details yet ! </h3>

                        <div th:case="*">
                            <table class="tableproperties">
                                <thead>
                                    <tr style="color:#064714;">
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>E-mail</th>
                                        <th>Phone Number</th>
                                    </tr>
                                </thead>
                                <tbody style = "font-size: 13px;">
                                    <tr th:each="con : ${contacts}">
                                        <td th:text="${con.fname}"></td>
                                        <td th:text="${con.lname}"></td>
                                        <td th:text="${con.email}"></td>
                                        <td th:text="${con.phone}"></td>
                                    </tr>
                                </tbody>
                            </table>
                          </div>
                      </div>
                      </form>
				</div>
              </div>
</div>
</body>
</html>