<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/NewForm.css}"/>
<title>Employee Form</title>

</head>
<body>
	<h1><a href="/logout" style="text-decoration: none; color:#D84424;font-size: 15px; text-align:right;">&#10060 LOGOUT</a></h1>
	<div align =  "center">
        
        <div class="menu">
        <h2 style="color:#064714;"> Employee Form </h1>
        
        <p th:if="${error}" style="color:red">Something went wrong! Please try again!</p>  
		
		<form th:action="@{/applications/new}" method = "post" th:object="${app}">
			<table>
            	<br>
					
				<tr for="typeofpermit" style = "font-size: 15px;"> <td>TYPE OF WORK PERMIT : </td>
				<td> <select name="typeofpermit" th:field="*{type}" th:required="required">
				  <option value="regular">REGULAR</option>
				  <option value="special purpose">SPECIAL PURPOSE</option>
				  <option value="recovery">SICK LEAVE</option>
				  <option value="strike">STRIKE</option>
				</select> </td></tr>
				<p>If you choose special purpose please choose the category of your permit:</p> 
				<tr id="categoryField" style = "font-size: 15px;"> <td>CATEGORY: </td><td> <select name="typeofpermit" th:field="*{category}">
				  <option value=""></option>
				  <option value="parental">PARENTAL</option>
				  <option value="student">STUDENT</option>
				  <option value="agricultural">AGRICULTURAL</option>
				</select> </td></tr>
				<tr style = "font-size: 15px;"> <td> BEGIN DATE : </td> <td style = "font-size: 25px;"> <input type = "date" id="start" name="firstday" value="2020-01-01" th:attr="min=${localdate},max=${lastDay}" th:field="*{start_date}" th:required="required"> </td> </tr>	
				<tr style = "font-size: 15px;"> <td> LAST DATE : </td> <td style = "font-size: 25px;"> <input type = "date" id="start" name="lastday" value="2020-01-01" th:attr="min=${localdate},max=${lastDay}" th:field="*{last_date}" th:required="required"> </td> </tr>
				<tr  style = "font-size: 15px;"> <td> REQUESTED PAPER : </td><td> <input type="file" name="pic" id="pic" accept="image/gif, image/jpeg" /> </td> </tr>
				<tr> <td> </td> </tr>
				<tr style = "font-size: 15px;"> <td> <input class="myButton" type = "submit" value = "Confirm"> </td> </tr>
			</table>
		</form>
        </div>
	</div>
  
</body>
</html>