<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/Profile.css}"/>
<title>Insert title here</title>
</head>
<body>
<div th:if="${not_authorized == true}">
	<h1>You have to login to view this page!</h1>
</div>
<div th:if="${not_authorized == false}">
			<h1><a href="/logout" style="text-decoration: none; color:#D84424;font-size: 15px; text-align:right;">&#10060 LOGOUT</a></h1>
			<div align="center">
        	<div class="appview">
          		<h2 style="color:#064714;">My profile</h2>
					
					<form th:action="@{/profile}" method = "post" th:object="${pr}">
						<table>
			            	<br>
								
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>First Name : </td> <td th:text="${pr.fname}"></td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Last Name : </td> <td th:text="${pr.lname}"></td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Birthdate : </td> <td th:text="${pr.birth_date}"></td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Address : </td> <td th:text="${pr.address}"></td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Phone Number : </td> <td th:text="${pr.phone}"></td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>E-mail : </td> <td th:text="${pr.email}"></td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Hire-date : </td> <td th:text="${pr.hire_date}"></td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Work Since : </td> <td th:text="${pr.work_since}"></td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Department : </td> <td th:text="${pr.dep_name}"></td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Username : </td> <td th:text="${pr.username}"></td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Password : </td> <td th:text="${pr.password}"></td></tr>
							
							<tr style = "font-size: 15px;"> <td> <input class="myButton" type = "submit" value = "Update details"> </td> </tr>
						</table>
						<table id="update" style="visibility:hidden";>
							<br>
							
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Address : </td> <td><input for="address" type="text" name="address" id="address" placeholder="address" th:field="*{address}" </td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Phone Number : </td> <input for="phone" type="text" name="phone" id="phone" placeholder="phone" th:field="*{phone}" </td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Password : </td> <td><input for="password" type="text" name="password" id="password" placeholder="password" th:field="*{password}"</td></tr>
							
							<tr style = "font-size: 15px;"> <td> <input class="myButton" type = "submit" value = "Submit"> </td> </tr>
						
						</table>
					</form>
					
				</div>
              </div>
</div>
<script type="text/javascript">

   	function changeFunc() {
    	var selectBox = document.getElementById("selectBox");
    	var selectedValue = selectBox.options[selectBox.selectedIndex].value;
   		if(selectedValue=="SPECIAL PURPOSE"){
   			return true;
   		}
   		return false;
   	}
   	
	function show(){
		if(changeFunc()==true){
			document.getElementById("update").style.visibility = "visible";
		}else{
			document.getElementById("update").style.visibility = "hidden";
		}
	}

</script>
</body>
</html>