<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/Profile.css}"/>
<title>My Profile</title>
<script>
  function show(){
  	document.getElementById('update').style.visibility = "visible";
  }
</script>
</head>
<body>
<div th:if="${not_authorized == true}">
	<h1>You have to login to view this page!</h1>
</div>
<div th:if="${not_authorized == false}">
			<h1><a href="/logout" style="text-decoration: none; color:#D84424;font-size: 15px; text-align:right;">&#10060 LOGOUT</a></h1>
			<div align="center">
        	<div class="appview">
          		<h2 style="color:#064714;">My profile</h2>
					
						<table>
			            	<br>
								
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>First Name : </td> <td th:text="${pr.fname}"></td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Last Name : </td> <td th:text="${pr.lname}"></td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Birthdate : </td> <td th:text="${pr.birth_date}"></td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Address : </td> <td th:text="${pr.address}"></td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Phone Number : </td> <td th:text="${pr.phone}"></td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>E-mail : </td> <td th:text="${pr.email}"></td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Hire-date : </td> <td th:text="${pr.hire_date}"></td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Work Since : </td> <td th:text="${pr.works_since}"></td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Department : </td> <td th:text="${pr.department.name}"></td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> <td>Username : </td> <td th:text="${pr.user.username}"></td></tr>
							
							<tr style = "font-size: 15px;"> <td> <input class="myButton" type = "submit" value = "Update details" onClick='javascript:show();'> </td> </tr>
						</table>
						<form th:action="@{/profile}" method = "post" th:object="${updates}">
						<table id="update" style="visibility:hidden;">
							<br>
							
							<tr for="typeofpermit" style = "font-size: 15px;"> 
								<td>Address : </td> 
								<td><input for="address" type="text" name="address" id="address" placeholder="new address" th:field="*{address}" ></td>
							</tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> 
								<td>Phone Number : </td>
								<td> <input for="phone" type="text" name="phone" id="phone" placeholder="new phone" th:field="*{phone}"> </td></tr>
							<tr for="typeofpermit" style = "font-size: 15px;"> 
								<td>Password : </td> 
								<td><input for="password" type="text" name="password" id="password" placeholder="new password" th:field="*{password}"></td></tr>
							
							<tr style = "font-size: 15px;"> <td> <input class="myButton" type = "submit" value = "Submit"> </td> </tr>
							
                            <tr><td></td></tr>
                            <tr><td></td></tr>
						</table>
						
						</form>
				</div>
              </div>
</div>
</body>
</html>